body {
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 1440px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
}

.social-media-icon {
	height: 80px;
	/* Svg icons..... */
	font-size: 60px;
	color: #e39b41;
}
