body {
	margin: auto;
	max-width: 1440px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0;
}

h1,
h3 {
	text-align: center;
}

.wrapper {
	display: grid;
	grid-template-columns: 5fr 2fr 1fr;
	border: solid 1px;
	margin-bottom: 2px;
}

.complete {
	color: #c4c4c4;
}

.btn {
	cursor: pointer;
}
